<p class="yiv7350918837style1" id="yui_3_16_0_ym19_1_1506627415516_45262"><b id="yui_3_16_0_ym19_1_1506627415516_45261">ECOBANK INTERNET BANKING TRANSACTION CONFIRMATION</b></p>

Dear Sir/Ma,
<br>

Please find below details of a bill payment initiated for MTN Direct Top-up (Prepaid).
<br>

Should you require additional information, please contact us via e-mail at RIBHelpDesk@octopus.com or call us on +234700-500-0000
<br>
<br>
<table width="500px" border="0" cellpadding="5" cellspacing="1" bgcolor="#99CCFF" class="yiv7350918837border" id="yui_3_16_0_ym19_1_1506627415516_38677">
<tbody id="yui_3_16_0_ym19_1_1506627415516_38676">
<tr id="yui_3_16_0_ym19_1_1506627415516_38675">
<td colspan="2" bgcolor="#99CCFF" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38674"><strong>Octopus Account Details </strong>
</td>
</tr>
<tr>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Phone Number </td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">{phone_number}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38711">
<td bgcolor="#FFFFFF" class="yiv7350918837eco_font">Name </td>
<td bgcolor="#FFFFFF" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38710">{full name}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38707">
<td colspan="2" bgcolor="#99CCFF" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38706"><strong>Instrument</strong>
</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38709">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Name</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38708">{instrument_name}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38709">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">No</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38708">{instrument_no}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38709">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Bank</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38708">{bank}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38707">
<td colspan="2" bgcolor="#99CCFF" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38706"><strong>Beneficiary Details </strong>
</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38740">
<td width="154" bgcolor="#eeeeee" class="yiv7350918837eco_font">Beneficiary Name </td>
<td width="323" bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38739">{bene_name}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38735">
<td bgcolor="#ffffff" class="yiv7350918837eco_font">Beneficiary Account </td>
<td bgcolor="#ffffff" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38734">{bene_account}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38735">
<td bgcolor="#ffffff" class="yiv7350918837eco_font">Beneficiary Bank </td>
<td bgcolor="#ffffff" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38734">{bene_bank}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38733">
<td colspan="2" bgcolor="#99CCFF" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38732">Transaction Details </td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38731">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Amount</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38730">{amount}</td>
</tr>
<tr>
<td bgcolor="#FFFFFF" class="yiv7350918837eco_font">Transaction Type </td>
<td bgcolor="#FFFFFF" class="yiv7350918837eco_font">{trans_type}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38731">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Narration</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38730">{narration}</td>
</tr>
<tr id="yui_3_16_0_ym19_1_1506627415516_38738">
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Date/Time</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font" id="yui_3_16_0_ym19_1_1506627415516_38737">{trans_date}</td>
</tr>
<tr>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">Reference</td>
<td bgcolor="#eeeeee" class="yiv7350918837eco_font">{trans_ref}</td>
</tr>
</tbody>
</table>
<p class="yiv7350918837style2" id="yui_3_16_0_ym19_1_1506627415516_45203"><br>
If you initiated this transaction, then no action is required. If you did not initiate the transaction, please send an email immediately to&nbsp;<a rel="nofollow" ymailto="mailto:RIBHelpDesk@octopus.com" target="_blank" href="mailto:RIBHelpDesk@octopus.com" id="yui_3_16_0_ym19_1_1506627415516_45312">RIBHelpDesk@octopus.com</a>&nbsp;to report a possible breach of security on your
 account.</p>
 <p class="yiv7350918837style2" id="yui_3_16_0_ym19_1_1506627415516_38736">You can also call our 24/7 Customer Service Centre - on +234700-500-0000 .<br>
<br>
Thank you for banking with us.<br>
<br>
Octopus Digital Bank <br>
<br>
<br>
<b id="yui_3_16_0_ym19_1_1506627415516_45311">This notification is not a confirmation of the beneficiary receiving funds.</b></p>

DISCLAIMER: This email and any attachments are confidential and are intended solely for the addressee. If you are not the addressee tell the sender immediately and destroy it. Do not open, read, copy, disclose, use or store it in any way, or permit others to
 do so. Emails are not secure and may suffer errors, viruses, delay, interception, and amendment. Octopus and its subsidiaries do not accept liability for damage caused by this email and may monitor email traffic.
